*{
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #CFD8DC;
}
/*Page layout styles*/
header {
    text-align: center;
    font-family: 'Niramit', sans-serif;
}

.main-title {
    font-size: 3rem;
    padding-top: 2%;
}

.subheading {
    font-size: 1.2rem;
}

.main-container {
    margin: 5%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    
    grid-gap: 10px;
}

.cards {
    width: 350px;
    /*height: 500px;*/
    justify-self: center;
    margin-bottom: 20%;
    /*background-color: aqua;*/
}

/*Card 01*/
/*Subscription Card*/
.subscription {
    width: 275px;
    height: 450px;
    background-color: #fff;
    font-family: sans-serif;
}

.price {
    background-color: #009688;
    padding: 10%;
}

.subscription-badge {
    width: 60px;
    background-color: #fff;
    border-radius: 5px;
}

.subscription-badge p {
    font-size: .6rem;
    padding: 2px;
    text-align: center;
    font-weight: 600;
    color: #212121;
}

.price-tag {
    margin-top: 10%;
    text-align: center;
}

.price-tag p {
    font-size: 3.5rem;
    color: #fff;
}

.price-tag small {
    font-size: 1rem;
    opacity: .8;
}

.features {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.features p {
    margin-bottom: 5%;
    color: #9E9E9E;
}

.features li {
    list-style: none;
    line-height: 220%;
    font-size: 1rem;
    color: #212121;
}

.get-started {
    margin-bottom: 10%;
}

.get-started-btn {
    background-color: #009688;
    color: #fff;
    font-size: 1.2rem;
    padding: 2%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
}
/*-------------------------------*/


/*Card 02*/
/*Blog post card*/

.blog-post {
    background-color: #fff;
    color: #212121;
    font-family: sans-serif;
}

.blog-contents-wrapper {
    margin: 5%;
}

.post-image img {
    width: 100%;
}

.blog-title {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 5%;
}

.first-paragaraph {
    margin: 5% 5% 10% 5%;
}

.first-paragaraph p {
    font-size: .9rem;
    text-align: justify;
    line-height: 150%;
}

.blog-card-footer {
    display: flex;
}

.avatar-image {
    margin-left: 8%;
}

.avatar-image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.avatar-name {
    margin-left: 8%;
    margin-top: 3%;
}

.avatar-name p {
    font-size: .8rem;
    padding-top: 5%;
    color: #616161; 
}

.avatar-name p:nth-child(2) {
    font-style: italic;
}

/*-------------------------------*/


/*Card 03*/
/*Movie Widget*/

.movie-widget {
    width: 270px;
    height: 400px;
    background-image: url('https://res.cloudinary.com/dvvjoqwaa/image/upload/c_scale,q_60,w_275/v1539278196/css-cards/star-wars.jpg');
    border-radius: 20px;
}

.movie-content-wraper {
    background-color: #212121;
    color: #fff;
    opacity: .8;
    border-radius: 20px;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.movie-content {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-family: sans-serif;
}

.movie-content h3 {
    padding: 5%;
    font-size: 1.3rem;
}

.movie-content small {
    font-size: .9rem;
}

.movie-content p {
    margin-top: 5%;
    font-size: .9rem;
}

.movie-intro {
    font-size: .8rem;
    margin-left: 8%;
    margin-right: 8%;
}
